.etiqueta{
    -fx-font-size:20px;
}
.campo{
    -fx-border-color: #79db56;
    -fx-text-fill: #6c9926;
    -fx-background-color:white;
    -fx-border-width:2px;
    -fx-border-radius:5px;
}
.link{
    -fx-text-fill: #00F;
    -fx-font-size:20px;
    -fx-font-family:"Impact";
}
.link:hover{
    -fx-text-fill: #f00;
}
.link:pressed{
    -fx-text-fill: #ffa488;
}

#btn-login{  
    -fx-background-color: #317da7;
    -fx-border-color: #0036aa;
    -fx-text-fill:white;
    -fx-font-size:20px;
    -fx-font-weight:bold;
    -fx-border-radius: 8px;
    -fx-background-radius: 10px;
}
#btn-login:hover{ 
    -fx-background-color: #319ea7;
    -fx-border-color: #2f367c;
}
#btn-login:pressed{  
    -fx-background-color: black;
    -fx-border-color: #2f3c92;
}