
.form-register{
    -fx-background-color: #0A6E57;
}
.form-register Label{
    -fx-text-fill: white;
    -fx-font-size: 16px;
    /*-fx-font-family: "familia";*/
}
.form-register TextField,
.form-register PasswordField{
    -fx-border-color:#0DD3E3;
    -fx-background-color:white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}